.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 clamp(0.25rem, -0.357rem + 3.04vw, 2.375rem);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal_window {
  width: 100%;
  max-width: 640px;
  padding: clamp(16px, 0.714rem + 1.43vw, 32px);
  border-radius: var(--Card-Border-Radius, 20px);
  box-shadow: 1px 1px 0px 0px #48455f inset, 0px 4px 8px -2px #181528;
  position: relative;
  background-color: #363247;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal_top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .modal_title {
    font-size: clamp(1.375rem, 1.196rem + 0.89vw, 2rem);
  }
  .close_button {
    top: 24px;
    right: 24px;
    font-size: 24px;
    cursor: pointer;
    background: transparent;
    border: none;
  }
}

& .profile_modal_content {
  .profile_modal_content__lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .profile_modal_content__list {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      &:nth-last-child(1) {
        margin: 16px 0;
      }
    }
  }
  .profile_modal_form {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.modal_buttons {
  display: flex;
  justify-content: end;
  gap: 16px;
  font-size: 16px;
  :nth-child(1) {
    background-color: #48455f;
  }
}
