.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #181528;
    color: #fff;
}

.footerLeft {
    display: flex;
    align-items: center;
}

.footerLogo {
    width: 50px;
    margin-right: 10px;
}

.footerRight a {
    color: #DCAB55;
    text-decoration: none;
}

.footerLeft a {
    color: #DCAB55;
    text-decoration: none;
}

.footerInfo {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .footer {
        background-color: #252232;
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    .round {
        position: absolute;
        margin-left: 100px;
        margin-bottom: 90px;
        background-color:#181528;
        border: 8px solid #252232;
        border-radius: 50%;
        width: 48px;
    }
    .round img {
        width: 100%;
        height: 100%;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;   
    }
    .phone_bg {
        background-color: #181528;
    }
    .line {
        border-bottom: 1px solid #48455F;
        margin-bottom: 10px;
    }
} 