.passwordSend__title{
    font-size: 30px;
	margin-bottom: 30px;
}

.passwordSend__text{
    color: rgb(214, 220, 225);
    font-weight: 500;
    margin-bottom: 32px;
}

.passwordSend__text b{
    color: white;
}