.titers {
	text-align: center;
}
.title {
	margin-bottom: 8px;
}
.title h1 {
	font-size: 20px;
	font-weight: 500;
	color: rgba(152, 161, 174, 1);
}
.partyshaker {
	font-size: 20px;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
}
.underline {
	width: 80px;
	position: relative;
	display: inline-block;
}

.underline::after {
	content: '';
	position: absolute;
	bottom: -5px;
	width: 100%;
	height: 4px;
	background-color: rgba(131, 84, 255, 1);
	transform: translateX(-50%);
}
.scrollbar {
	overflow: hidden;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}
.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	position: absolute;
	animation: scroll 40s linear infinite;
}
.roll {
	display: flex;
	margin-bottom: 40px;
}
.topic {
	width: 50%;
	margin-right: 40px;
	text-align: right;
	font-size: 16px;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
}
.roll_content {
	width: 50%;
	font-size: 16px;
	font-weight: 500;
	color: rgba(214, 220, 225, 1);
	list-style: none;
	text-align: left;
}
.roll_content li {
	margin-bottom: 24px;
}
@keyframes scroll {
	0% {
		transform: translateY(150%);
	}
	100% {
		transform: translateY(-150%);
	}
}
