.profile_reset_password {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 clamp(0.25rem, -0.357rem + 3.04vw, 2.375rem);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  & .profile_reset_password__content {
    display: flex;
    flex-direction: column;
    gap: clamp(1.5rem, 1.357rem + 0.71vw, 2rem);
    width: 100%;
    max-width: 480px;
    padding: clamp(1rem, 0.284rem + 3.58vw, 2rem);
    & .profile_reset_password__top_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .profile_reset_password__top_text {
        font-size: clamp(1rem, 0.714rem + 1.43vw, 2rem);
      }
      & .profile_reset_password__top_btn {
        border: none;
        cursor: pointer;
        background: transparent;
        & img {
          width: 24px;
          height: 24px;
        }
      }
    }
    & .profile_reset_password__form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      & .profile_reset_password__form_label {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;

        & .profile_reset_password__form_label > span:nth-child(1) {
          position: absolute;
          color: #181528;
        }
        & span {
          font-size: 13px;
        }
        .profile_reset_password__form_label_input {
          width: 100%;
          max-width: 2000px;
          border-radius: 12px;
          background: #48455f;
          border: none;
          padding: 12px;
        }
        &.input_with_button {
          width: 100%;
          max-width: 180px;
          display: flex;
        }
        & .error_message {
          position: absolute;
          bottom: -18px;
          left: 5px;
          font-weight: 500;
          color: red;
        }
      }
      & .profile_reset_password__form_btn {
        margin: 24px 0 0 0;
      }
    }
  }
  & .profile_bg_border {
    padding: 16px clamp(1rem, 0.286rem + 3.57vw, 2rem);
    border-radius: var(--Card-Border-Radius, 20px);
    background: var(--Card-Background, #363247);
    box-shadow: 1px 1px 0px 0px #48455f inset, 0px 4px 8px -2px #181528;
  }
}
