.input {
    width: 100%;
    font-size: 16px;
    /* height: 48px; */
    border-radius: 10px;
    outline: none;
    border: 2px solid #48455F;
    background-color: #48455F;
    color: white;
    padding: 18px 20px;

}

.input:focus-within {
    border: 2px solid #5f5b7c;
}