.profile_message_modal {
  position: fixed;
  top: 10px;
  right: 30px;
  background-color: aliceblue;

  & .profile_message_modal__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 26px 0;
    border-radius: 8px;
    background-color: #48455f;
    box-shadow: 0px 24px 48px 0px #101828,
      0px 12px 8px -4px rgba(16, 24, 40, 0.8);
    & .profile_message_modal__content_message_color {
      background-color: red;
      width: 4px;
    }
    & .profile_message_modal__content_icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .profile_message_modal__content_text {
    }
    & .profile_message_modal__content_cross {
    }
  }
}
