.container__outlet {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.outlet__card {
	flex: 1;
	width: 480px;
	background-color: #363247;
	margin: 50px auto;
	padding: 24px 32px;
	border-radius: 20px;
	box-shadow: 0px 4px 8px -2px rgb(24, 21, 40), inset 1px 1px 0px 0px rgb(72, 69, 95);
}

@media (max-width: 560px) {
    .outlet__card{
        width: 95%;
        margin-bottom: 80px;
    }
}
