.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background-color: #181528;
    color: #fff;
    max-width: 1920px;
    width: 100%;
    padding: 32px 32px 40px 32px;
}
.footer-left {
    display: flex;
    align-items: center;
}
.footer-logo {
    width: 50px;
    margin-right: 10px;
}
.footer-right {
    text-align: right;
}
.footer-right a {
 color: #DCAB55;
 text-decoration: none;
}
.footer-left a {
    color: #DCAB55;
    text-decoration: none;
   }