.newPassword__title{
    font-size: 30px;
	margin-bottom: 30px;
}

.field__text {
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 4px;
	color: #d6dce1;
}

.field {
	margin-bottom: 32px;
}

.field__text__password {
	margin-top: 4px;
	color: #98a1ae;
	font-size: 13px;
	font-weight: 500;
}