.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #1A1A24;
    border-radius: 8px;
    padding: 4px 8px;
    width: fit-content;
}
  
.pageNumbers {
    display: flex;
    align-items: center;
}
  
.paginationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    color: #F8C15C;
    border: none;
    margin: 0 2px;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s ease;
}
  
.paginationButton:hover {
    color: #FFFFFF;
}
  
.paginationButton.active {
    color: #FFFFFF;
    position: relative;
}
  
.paginationButton.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #8354FF;
}
  
.totalPages {
    color: #F8C15C;
    margin-left: 8px;
    font-size: 14px;
}
  
  
.divider {
    color: #48455F;
    margin: 0 8px;
}