.header {
    text-align: center;
    margin: 20px 0;
}
.headerImg {
    width: 150px;
}

@media (max-width: 768px) {
    .header {
        margin: 10px 0;
    }
    .headerImg {
        width: 100px;
    }
    
}

@media (max-width: 480px) {
    .header {
        margin: 5px 0;
    }
    .headerImg {
        width: 75px;
    }
    
}